

.card {
    width: 100%;
    background-color: transparent;
    border: none;
    height: 80%;
    cursor: pointer;
    transition: all 0.5s;
}

.image img {
    transition: all 0.5s
}

.card:hover .image img {
    transform: scale(1.5)
}

.btn {
    height: 140px;
    width: 140px;
    border-radius: 50%
}

.name {
    font-size: 32px;
    font-weight: bold
}

.idd {
    font-size: 15px;
    font-weight: 600
}

.idd1 {
    font-size: 12px
}

.number {
    font-size: 15px;
    font-weight: bold
}

.follow {
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.btn1 {
    height: 40px;
    width: 150px;
    border: none;
    background-color: #000;
    color: #aeaeae;
    font-size: 15px
}

.text span {
    font-size: 19px;
    color: white;
    font-weight: 500
}

.icons i {
    font-size: 19px
}

hr .new1 {
    border: 1px solid
}

.join {
    font-size: 14px;
    color: #a0a0a0;
    font-weight: bold
}

.date {
    background-color: #ccc
}